@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #2c2c2c;
  --brand-orange: #ff8319;
  --brand-orange-hover: #e6730d;
  --brand-dark: #2c2c2c;
  --brand-bg: #f3f3f3;
  --brand-border: #c7c7c7;
}

body {
  color: var(--foreground);
  background: var(--background);
}
